body {
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
span,
i,
b,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: Roboto;
  margin: 0;
}

.container {
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.searching-btn {
  cursor: pointer;
  margin: 7px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.blue-text {
  color: #2f80ed;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
