<section class="row statistics" [style.width]="width">
  <div>
    <img src="assets/icons/viewed.svg" alt="views" />
    <span>{{ statistics.viewCount }}</span>
  </div>
  <div>
    <img src="assets/icons/liked.svg" alt="likes" />
    <span>{{ statistics.likeCount }}</span>
  </div>
  <div>
    <img src="assets/icons/dislike.svg" alt="dislikes" />
    <span>{{ statistics.dislikeCount }}</span>
  </div>
  <div>
    <img src="assets/icons/comments.svg" alt="comments" />
    <span>{{ statistics.commentCount }}</span>
  </div>
</section>
